__pycache__/
*.pyc        # 忽略所有编译的Python文件。
*.pyo        # 忽略优化过的Python编译文件。
.idea/       # 如果使用 JetBrains PyCharm，忽略其项目设置文件夹。
.vscode/     # 如果使用 Visual Studio Code，忽略其设置文件夹。
.DS_Store    # 忽略 macOS 的文件系统索引文件。
venv/        # 忽略虚拟环境目录。
